[submodule "fprime"]
	path = fprime
	url = https://github.com/nasa/fprime.git
[submodule "fprime-arduino"]
	path = fprime-arduino
	url = https://github.com/fprime-community/fprime-arduino.git
[submodule "fprime=baremetal-reference"]
	path = fprime-baremetal-reference
	url = https://github.com/fprime-community/fprime-baremetal-reference.git
