[submodule "fprime"]
	path = fprime
	url = https://github.com/nasa/fprime.git
[submodule "fprime-arduino"]
	path = fprime-arduino
	url = https://github.com/fprime-community/fprime-arduino.git
[submodule "chess"]
	path = lib/chess
	url = https://github.com/jironghuang/chess.git
[submodule "lib/chess"]
	path = lib/chess
	url = https://github.com/jironghuang/chess.git
